<%- include('./include/head.ejs') %>
<script src="/javascript/carsale.js"></script>
    <div class="container">
        <div class="contents">
            <h1 class="title">내차팔기 등록하기</h1>
            <form method="post" class="formCar">
                <label for=""><span>자동차 번호</span><input id="carNum" type="text" name="carNum"></label>
                <label for="">
                    <span>국산·수입</span>
                    <select name="from" id="from">
                        <option value="" selected>국산·수입</option>
                        <option value="국산">국산</option>
                        <option value="수입">수입</option>
                    </select>
                </label>       
                <label for="">
                    <span>브랜드</span>
                    <!-- 국산 -->
                    <select name="brand" id="domestic" class="brand">
                        <option value="" selected>브랜드</option>
                        <option value="현대">현대</option>
                    </select>
                    <!-- 수입 -->
                    <!-- <select name="brand" id="import" class="brand">
                        <option value="" selected>브랜드</option>
                        <option value="현대">현대</option>
                        <option value="BMW">BMW</option>
                    </select> -->
                </label>
                <label for="">
                    <span>모델명</span>
                    <input type="text" id="model" name="model" placeholder="ex) 그랜저ig">
                </label> 
                <label for=""><span>주행거리</span><input id="mile" type="text" name="mile"></label>
                <label for="">
                    <span>연식</span>
                    <select id="year" type="text" name="year">
                        <option value="111111111" selected>-----</option>
                    </select>
                </label>
                <label for=""><span>연료방식</span><input id="fuel" type="text" name="fuel" value="1111111"></label>

                <label for=""><span>기어방식</span><input id="trans" type="text" name="trans"  value="1111111"></label>
                
                <label for=""><span>인승</span><input id="seater" type="text" name="seater" value="1111111"></label>
                
                <label for=""><span>디스플레이</span><input id="disp" type="text" name="disp"  value="1111111"></label>
                
                <label for=""><span>차종</span><input id="type" type="text" name="type"  value="1111111"></label>
                
                <label for=""><span>method</span><input id="method" type="text" name="method"  value="1111111"></label>
                
                <label for=""><sapn>연락처</sapn><input id="tel" type="text" name="tel"  value="1111111"></label>
                
                <label for=""><span>사진</span><input id="input-multi-files" type="file" name="picture" accept="/*" multiple></label>
                
                <label for=""><span>선루프</span><input id="roof" type="text" name="roof"  value="1111111"></label>
                
                <label for=""><span>색상</span><input id="color" type="text" name="color"  value="1111111"></label>
                
                <label for=""><span>네비게이션</span><input id="nav" type="text" name="nav"  value="1111111"></label>
                
                <label for=""><span>스마트키</span><input id="key" type="text" name="key"  value="1111111"></label>
                
                <label for=""><span>오토라이트</span><input id="light" type="text" name="light"  value="1111111"></label>
                
                <label for=""><span>주차센서</span><input id="sensor" type="text" name="sensor"  value="1111111"></label>
                
                <label for=""><span>후방카메라</span><input id="camera" type="text" name="camera"  value="1111111"></label>
                
                <label for=""><span>블랙박스</span><input id="box" type="text" name="box"  value="1111111"></label>
                
                <label for=""><span>가죽시트</span><input id="leather" type="text" name="leather"  value="1111111"></label>
                
                <label for=""><span>열선시트</span><input id="heated" type="text" name="heated"  value="1111111"></label>
                
                <label for=""><span>에어백</span><input id="airbag" type="text" name="airbag"  value="1111111"></label>
                
                <label for=""><span>기타</span><input id="etc" type="text" name="etc"  value="1111111"></label>
                
                <label for=""><span>해시태그</span><input id="hashtag" type="text" name="hashtag"  value="1111111"></label>

                
                <input id="img-url" type="hidden" name="url">
                
                <button type="submit" class="join_btn">내차 등록</button>
            </form>
            <div class="row">
            <div class="col-sm-12">
                <div class="preview-images"></div>
            </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function() {
          let imagesPreview = function(input, placeToInsertImagePreview) {
            if (input.files) {
              let filesAmount = input.files.length;
              for (i = 0; i < filesAmount; i++) {
                let reader = new FileReader();
                reader.onload = function(event) {
                  $($.parseHTML("<img>"))
                    .attr("src", event.target.result)
                    .appendTo(placeToInsertImagePreview);
                };
                reader.readAsDataURL(input.files[i]);
              }
            }
          };
          $("#input-multi-files").on("change", function() {
            imagesPreview(this, "div.preview-images");
          });
        });
  
  
        const form = document.querySelector('form');
    //     const titleInput = document.querySelector('#title');
    //   const contentInput = document.querySelector('#content');
        const fileInput = document.querySelector('#input-multi-files');
  
        form.addEventListener('submit', async (e) => {
          e.preventDefault();
  
          const formData = new FormData();
        //   formData.append('title', titleInput.value);
        //   formData.append('content', contentInput.value);
          for (const file of fileInput.files) {
            formData.append('files', file);
          }
  
          try {
            const response = await axios.post('/car/multiple-upload', formData, {
              headers: {
                'Content-Type': 'multipart/form-data',
              },
            });
            console.log(response.data);
          } catch (error) {
            console.error(error);
          }
        });
  
      </script>
</body>
</html>