<%- include('./include/head.ejs') %>
<script src="/javascript/carsale.js"></script>
    <div class="container">
        <div class="contents">
            <h1 class="title">내차팔기 등록하기</h1>
            <form method="post" class="formCar">
                <label for=""><span>자동차 번호</span><input id="carNum" type="text" name="carNum"></label>
                <label for="">
                    <span>국산·수입</span>
                    <select name="from" id="from">
                        <option value="" selected>국산·수입</option>
                        <option value="국산">국산</option>
                        <option value="수입">수입</option>
                    </select>
                </label>       
                <label for="">
                    <span>브랜드</span>
                    <!-- 국산 -->
                    <select name="brand" id="brand" class="brand">
                        <option value="" selected>브랜드</option>
                        <option value="현대">현대</option>
                    </select>
                </label>
                <label for="">
                    <span>모델명</span>
                    <input type="text" id="model" name="model" placeholder="ex) 그랜저ig">
                </label> 
                <label for=""><span>주행거리</span><input id="mile" type="text" name="mile"></label>
                <label for="">
                    <span>연식</span>
                    <select id="year" type="text" name="year">
                        <option value="111111111" selected>-----</option>
                    </select>
                </label>
                <label for=""><span>연료방식</span><input id="fuel" type="text" name="fuel" value="1111111"></label>

                <label for=""><span>기어방식</span><input id="trans" type="text" name="trans"  value="1111111"></label>
                                
                <label for=""><span>사진</span><input id="input-multi-files" type="file" name="picture" accept="/*" multiple></label>
                                
                <label for=""><span>해시태그</span><input id="hashtag" type="text" name="hashtag"  value="1111111"></label>
                
                <input id="img-url" type="hidden" name="url">
                
                <button type="submit" class="join_btn">내차 등록</button>
            </form>
            <div class="row">
            <div class="col-sm-12">
                <div class="preview-images"></div>
            </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function() {
          let imagesPreview = function(input, placeToInsertImagePreview) {
            if (input.files) {
              let filesAmount = input.files.length;
              for (i = 0; i < filesAmount; i++) {
                let reader = new FileReader();
                reader.onload = function(event) {
                  $($.parseHTML("<img>"))
                    .attr("src", event.target.result)
                    .appendTo(placeToInsertImagePreview);
                };
                reader.readAsDataURL(input.files[i]);
              }
            }
          };
          $("#input-multi-files").on("change", function() {
            imagesPreview(this, "div.preview-images");
          });
        });
  
  
        const form = document.querySelector('form');
        const carNumInput = document.querySelector('#carNum');
        const fromInput = document.querySelector('#from');
        const brandInput = document.querySelector('#brand');
        const modelInput = document.querySelector('#model');
        const mileInput = document.querySelector('#mile');
        const yearInput = document.querySelector('#year');
        const fuelInput = document.querySelector('#fuel');
        const transInput = document.querySelector('#trans');
        const filesInput = document.querySelector('#input-multi-files');
        const hashtagInput = document.querySelector('#hashtag');

  
        form.addEventListener('submit', async (e) => {
          e.preventDefault();
  
          const formData = new FormData(form);
            formData.append('carNum', carNumInput.value);
            formData.append('from', fromInput.value);
            formData.append('brand', brandInput.value);
            formData.append('model', modelInput.value);
            formData.append('mile', yearInput.value);
            formData.append('fuel', fuelInput.value);
            formData.append('trans', transInput.value);
            formData.append('hashtag', hashtagInput.value);
            
          for (const file of fileInput.files) {
            formData.append('files', file);
          }
          console.log(formData);
  
          try {
            const response = await axios.post('/car/multiple-upload', formData, {
              headers: {
                'Content-Type': 'multipart/form-data',
              },
            });
            console.log(response.data);
          } catch (error) {
            console.error(error);
          }
        });
  
      </script>
</body>
</html>