<%- include('./include/head.ejs') %>

<div class="inquiryblock" align="center">
    작성자 <input type="text" class="user_id"><br><br><br>
    제목 <input type="text" class="title"><br><br><br>
    내용<br><textarea cols="80" rows="10" class="content" placeholder="문의 내용을 입력해주세요"></textarea><br><br>
    <button class="inquirybtn"><a href="/faq">취소</a></button>&nbsp;&nbsp;&nbsp;
    <button type="submit" class="inquirybtn">등록</button><br><br><br>
    <div class="answer">답변 박스</div>
</div>  