<%- include ./include/head.ejs %>

<form action="/mypage/edit/<%= user.id %>" method="post" class="form">
<h1>비밀번호 확인</h1>
    <label for="password"><span>비밀번호</span>
    <input type="password" id="password" name="password" required>
    <button type="submit">확인</button>
</form>