<%- include ./include/head.ejs %>

<form action="/mypage/confirm" id="confirmform" method="post" class="form">
    <h1 class="title">비밀번호 확인</h1>
    <label for=""><span>비밀번호</span><input type="password" name="password"></label>
    <button type="submit" class="pw_btn">확인</button>
</form>

<script>
    const confirm_form = document.getElementById('confirmform')
    const pw = document.getElementById('pw')
    
    function checkForm(){
    if(pw.value === ''){
        alert('비밀번호를 입력해주세요');
        pw.focus()
        return false;
    }
    confirm_form.submit();
}
</script>