<%- include('./include/head.ejs') %>

<div align="center">
    <form action="/findID" id="findid" method="post" class="findid">
        <h1>아이디 찾기</h1>
        <label><span>e-mail입력</span></label>
        <input id="email" type="email" name="email" required>
        <button type="submit">제출</button>
        <br>
    </form>
</div>

<script>
    const findid = document.querySelector('.findid');

    findid.addEventListener('click', (event) => {
        event.preventDefault();
        const emailValue = document.getElementById("email").value;
    
    fetch(`/findID?email=${emailValue}`)
        .then((response) => response.json())
        .then((data) => {
            alert(`찾으시는 아이디는 ${data.id}입니다.`);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    });
</script>
