<%- include('./include/head.ejs') %>

<div>
    <form action="/">
        <h1>비밀번호 찾기</h1>
        <label><span>e-mail입력</span></label>
        <input id="email" type="email" name="email" required>
        <button type="submit">제출</button>
    </form>
</div>