<%- include('./include/head.ejs') %>

<h1>검색 결과</h1>
<ul>
  <% results.forEach(function(twit) { %>
  <li>
    <a href="/board/<%= twit.postId %>"><%= twit.title %></a>
    내용: <%= twit.content %>
  </li>
  <% }); %>
</ul>

<button><a href="/board/newpost">게시글 등록</a></button>
