.empty {
    border: solid 1px black;
    width: 600px;
    height: 350px;
    margin: 0 auto;
}

/* 슬라이드 */
.slider img{
    width: 100%;
    max-height: 600px;
}

.slick-prev{
    z-index: 999;
    position: absolute;
    left: 20px;
    top: 50%;
    background-image: url(../images/arrow.png);
    background-size: 100%;
    background-color: transparent;
    transform: rotate(180deg);
    text-indent: -9999px;
    border: none;
    width: 35px;
    height: 35px;
    opacity: .5;
}

.slick-next{
    z-index: 999;
    position: absolute;
    right: 20px;
    top: 50%;
    background-image: url(../images/arrow.png);
    background-size: 100%;
    background-color: transparent;
    text-indent: -9999px;
    border: none;
    width: 35px;
    height: 35px;
    opacity: .5;
}

.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-dots > li{
    margin-right: 10px;
    /* text-indent: -99999px; */
}
.slick-dots > li button{
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    background-color: #aaa;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}
.slick-dots > li.slick-active button{
    background-color: rgba(0,0,0,.8);
}

/* 해시태그 */
.hashtagsearch {
    margin: 1% auto;
    width: 250px;
    /* border: solid 1px black; */
}

.hashtagsearchbox {
    width: 200px;
    height: 30px;
}

.reccar {
    /* border: solid 1px black; */
    padding: 100px;
    position: relative;
    width: 100%;
    display: block;
    /* left: 15%; */
}
.contents h1{
    position: relative;
    margin-bottom: 30px;
}
.contents h1:after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 2px;
    background-color: orange;
}

.reccar ul {
    display: flex;
    flex-wrap: wrap;
}

.reccar ul li {
    width: 25%;
    padding: 10px 10px;
    text-align: center;
}

.reccar h1 {
    text-align: center;
}
.popucar {
    /* border: solid 1px black; */
    padding: 100px;
    position: relative;
    width: 100%;
    display: block;
    /* left: 15%; */
}

.popucar ul {
    display: flex;
    flex-wrap: wrap;
}

.popucar ul li {
    width: 25%;
    padding: 10px 10px;
    text-align: center;
}

.popucar h1 {
    text-align: center;
}

.thumbnail {
    width: 100%;
    height: 150px;
}

.reccarlist,
.popucarlist {
    border: solid 1px black;
    width: 100%;
    border-radius: 20px;
    height: 270px;
    padding-bottom: 10px;
}
.reccarlist img,
.popucarlist img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.carProfile span{
    position: relative;
    display: inline-block;
    padding-right: 5px;
    font-size: 14px;
    color: #aaa;
    font-weight: normal;
}
.carProfile span::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-35%);
    width: 1px;
    height: 12px;
    background-color: #ddd;
}
.carProfile span:last-child{
    display: none;
}
.carProfile span:last-child:after{
    display: none;
}
.carProfile h5{
    font-size: 18px;
}
.carProfile h5 p{
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;
}

.like {
    position: relative;
    right: -35%;
    top: -40px;
}

#highlight {
    background-color: lightcoral;
}

.hash {
    width: 25%;
    display: flex;
    display: inline;
    margin: 5%;
}