/* 공통 레이아웃 css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, dl{
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* 헤더 */
#hd{
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.util{
  width: 100%;
  padding: 5px 10px;
  text-align: right;
  border-bottom: 1px solid #ddd;
  
}
.util a{
  font-weight: normal;
  color: #888;
}

.hd_menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.hd_lt{
  display: flex;
  align-items: center;
}

.logo{
  margin-right: 150px;
}
.logo a{
  font-size: 30px;
}

.nav{
  display: flex;
}
.nav li{
  width: 100px;
  margin-right: 15px;
}

.nav li a{
  display: block;
}

.src_menu{
  float: right;
}

/* 컨테이너 */
.container{
  width: 100%;
  padding: 50px 0;
}

.contents{
  width: 100%;
  padding: 0 50px;
}

.title{
  margin-bottom: 50px;
}