<%- include('../include/managerhead.ejs') %>
    <div class="container">
        <div class="contents">
            <h1 class="title"><%= title %></h1>  
            <h3><%= Adver.title %></h3>
            <img src="<%= Adver.img[0].url %>" alt="">
        </div>
    </div>
</body>
</html>